/* textarea style */
.textarea-value{
    text-align: center;
    font-weight: 600;
}

/* calculate  button style*/
#calculate-button{
    text-decoration: none;
    padding: 10px 30px;
    border: 0px solid;
    border-radius: 8px;
    background-color: rgba(76, 192, 221, 0.89);
    font-size: 25px;
    margin-left: 150px;
    margin-top: 30px;
}
/* save button style*/
#save-button{
    text-decoration: none;
    padding: 10px 10px;
    border: 0px solid;
    border-radius: 8px;
    background-color: rgba(76, 192, 221, 0.89);
    font-size: 20px;
}

/* notify section */
.notify-section{
    align-items: center;
    width: 100%;
    margin: 0% auto;
    margin-top: 50px;
}

/* negative value error message */
#only-positive{
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: violet;
    border: 1px brown solid;
    border-radius:10px;
    padding: 10px 30px;
    display: none;
}

/* string error message */
#not-a-number{
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: red;
    border: 1px brown solid;
    border-radius:10px;
    padding: 10px 30px;
    display: none;
}

/* remain balance error message */
#remain-balance{
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: orange;
    border: 1px brown solid;
    border-radius:10px;
    padding: 10px 30px;
    display: none;
}

/* more than income error message */
#more-than-income{
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: rgba(52, 33, 193, 0.857);
    border: 1px brown solid;
    border-radius:10px;
    padding: 10px 30px;
    display: none;
}